{{!-- Squashing the Handlebars against the <ul> and </ul> is important so that :empty works --}}
<ul>{{#each [Reading (Pre)]}}
        <li>{{maybeLink this}} (Pre)</li>
    {{/each}}{{#each [Reading (Supplemental)]}}
        <li>{{maybeLink this}}</li>{{/each}}</ul>
