body > section
  padding-bottom: 50px

  > h1
    margin-bottom: 30px

body > nav > a:hover
  width: auto

#lectures > section
  .label, .reading, .slides
    width: auto

#people
  .person.instructor
    width: auto
