body > section
  padding-bottom: 50px

  > h1
    margin-bottom: 30px

body > nav > a:hover
  width: auto

#lectures
  .topics ul li
    white-space: normal
    line-height: 1.2em
    margin-bottom: 10px

#people
  .person.instructor
    width: auto
